.app{
 
    .Titles{
        display: flex;
        justify-content: center;
        background-color: #58170D;
        color: white;
        height: 20px;
        width: auto;
    }
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}
@import 'img';
@import 'home';
@import 'button';
@import 'about';
@import 'cages';

@import 'navbar';
@import 'navHeaderBar'
