.nav-header-bar{
    overflow: hidden;
    background-color: gray;
}
.Contact-information{
    display: flex;
    justify-content: space-evenly;


}
.other-links{
    display: flex;
    justify-content: space-evenly;
}